
h1{
    font-size: 40px;
    color: purple;
    background: pink;
    text-align: center;

}
p{
    color: blueviolet;
    font-size: 25px;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
    font-style: italic;

}
button{
    color: gray;
    width: 250px;
    height: 50px;
    font-size: 25px;
    margin: 0 auto; 

}
