* {
    margin: 0;
    padding: 0;
}

/* body{
    width: 90%;
    height: 100%;
    margin: 0 auto;
} */
    /* section{
        width: 80%;
        height: 100%;
        margin: auto;
    } */
h1{
    background: grey;
    text-align: center;
    font-size: 25px;
    height: 90px;
    padding-top: 25px;
    margin: auto;
}
button{
    display: block;
    background: rgb(46, 46, 230);
    color: white;
    padding: 2px;
    border-radius: 10px;
}
/* table{
    width: 80%;
    margin: 10px 60px;
} */
tr:first-child{
    font-size: 20px;
    font-weight: bold;
    padding: 10px
}
td{
    font-size: 15px;

    

}

/* 
.newContact{
    transform: translateX(-50%);
    background: pink;
    color: purple;

} */
